/*MEDIA*/
@media screen and (min-width: 319px) {
    .navbar {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .basket {
        margin-right: 8px;
        margin-left: 16px;
    }
}
.navbar {
    position: fixed;
    width: 100%;
    height: 72px;
    max-height: 72px;
    background-color: #ffffff;
    box-shadow: 0 0 2px;
}

.btn {
    width: 78px;
    height: 40px;
    border: 2px solid #F2F2F2;
    background-color: white;
    color: #1D1D1D;
    font-size: 13px;
    font-family: 'Roboto', sans-serif;
    margin-left: 703px;
}

.navbar-brand {
    margin-left: 82px;
}

.basket {
    margin-left: 24px;
}

input {
    margin-top: 128px;
    width: 100%;
    height: 24px;
    border: none;
    border-bottom: 1px solid;
    color: #cdcaca;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
}

.restText {
    margin-top: 56px;
    margin-left: 81px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 34px;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.RestaurantCard {
    margin-top: 16px;
    margin-left: 1px;
}

.restname {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #000000;
    display: flex;
    align-self: start;
    margin-top: 16px;
    margin-bottom: 4px;
}

.category {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    color: #626262;
    margin-top: 4px;
    margin-bottom: 4px;
}

.time {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 21px;
    color: #000000;
    margin-top: 4px;
}

.footer {
    margin-top: 80px;
    height: 552px;
}

.logo {
    margin-left: 97px;
    margin-top: 56px;
}

hr {
    width: 956px;
    margin-top: 41px;
}

.buton {
    width: 227px;
    height: 40px;
    margin-left: 82px;
    margin-top: 16px;
    border: none;
    background-color: #979797;
    color: #ffffff;
    font-size: 13px;
    font-family: 'Roboto', sans-serif;
    padding: 12px 128px 12px 48px;
    display: flex;
    align-items: center;
}

.language {
    margin-left: 95px;
    margin-top: 44px;
    padding: 12px 195px 12px 16px;
}

.social-ico {
    margin-left: 82px;
}

.hashtag {
    margin-left: 82px;
    margin-top: 33px;
}

.inf {
    color: #FFFFFF;
}

.col-xs-12 col-md-4 col-lg-4 {
    width: 196px;
    height: 16px;
    left: 405px;
    top: 1663px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 15px;
    display: flex;
    align-items: flex-end;
    color: #FFFFFF;
}

.footer-download {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.footer-down-inf1 {
    color: #FFFFFF;
    display: flex;
    justify-content: space-between;
    margin-left: 82px;
}

.footer-down-inf2,
.footer-down-inf3 {
    color: #FFFFFF;
}
.social-ico{
    display: flex;
    justify-content: space-between;
    align-items: center;
}